<%- include("../partials/header.ejs") %>
<h1>Reporting</h1>
<div> 
    <label><a href="/behavior/reporting/morning">Morning reporting</a><%= morning %></label>
</div>
<div>
    <label><a href="/behavior/reporting/evening">Evening reporting</a><%= evening %></label>
</div>
<%- include("../partials/footer.ejs") %>